body {
    margin: 0;
    font-family: Arial;
    background: #f4f6f8;
}

/* HERO */
.hero {
    background: #111;
    color: white;
    text-align: center;
    padding: 25px;
}

/* SEARCH */
.search-container {
    text-align: right;
    padding: 10px;
}

#searchBox {
    padding: 8px;
    width: 200px;
}

/* DASHBOARD GRID */
.dashboard {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    padding: 20px;
}

/* CARDS */
.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #ccc;
    cursor: pointer;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}
